.DS_Store

conditional-neural-process/utils.ipynb
conditional-neural-process/out/*
conditional-neural-process/fully_connected_neutral_network.ipynb
conditional-neural-process/conditional_neutral_process.ipynb
multi-fidelity-gaussian-process/__pycache__
multi-fidelity-gaussian-process/out/*
multi-fidelity-gaussian-process/in/Ge77_rates_CNP_v1.2.csv
multi-fidelity-gaussian-process/in/Ge77_rates_v1.1.csv
multi-fidelity-gaussian-process/in/Ge77_rates_new_samples_v1.1.csv
multi-fidelity-gaussian-process/in/Ge77_rates_new_samples_v1.3.csv
sampling/out/*
sampling/comparing-sampling-methods.ipynb
sampling/samples2macro.ipynb
simulation/out/HF*
simulation/out/LF*
simulation-analysis
simulation-analysis/*
utilities/__pycache__/
