.DS_Store
conditional-neural-process/*
conditional-neural-process/out/*
conditional-neural-process/fully_connected_neutral_network.ipynb
conditional-neural-process/conditional_neutral_process.ipynb
multi-fidelity-gaussian-process/__pycache__
multi-fidelity-gaussian-process/out/*
sampling/out/*
sampling/comparing-sampling-methods.ipynb
sampling/samples2macro.ipynb
simulation/out/HF*
simulation/out/LF*
simulation-analysis
simulation-analysis/*
utilities/__pycache__/
